<div class="task">
  <form (submit)="addNewTask($event)">
    <label>Add task <input (input)="addTask($event)"/> </label>
    <button
      [disabled]="formIsEmpty()"
      type="submit">Send</button>
  </form>
<hr/>
  <app-tasked
    *ngFor="let newTask of tasked; let i = index"
    [tas]="newTask.task"
    (delete)="onDeleteTask(i)"
    (taskChange)="changeTask(i, $event)"
  ></app-tasked>
</div>
