.tasked {
  padding: 10px;
  border: 1px solid gray;
  margin: 20px;
}
.taskText{
  margin: 5px;
  font-size: 25px;
}
.task{
  border: none;
}
.focus{
  border-bottom: 2px solid black;
}
.noFocus{
  color: blue;
}
.done{
  background: green;
}
