<div class="tasked" [ngClass]="check()">
  <p [ngClass]="className()">{{tas}}</p>
  <label>Edit the task:
    <input name="task"
           [value]="tas"
           (focus)="onFocus()"
           (focusout)="focusOut()"
           (input)="onTaskChange($event)"/></label><br>
  <input (click)="checkBox = !checkBox" type="checkbox" name="option" value="a4">task is done<Br>

  <button
    (click)="onDelete()"
  >Delete</button>
</div>
